$grid-color: lightgray;
$grid-width: 2px;

.Map {
  @include space;
  .container {
    @include space;
    flex: 1;
    position: relative;
    padding-top: 100%;
    padding-bottom: 0;
    position: relative;
    .lines {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-evenly;
      &.lines-horizontal {
        flex-direction: column;
        .line {
          background: $grid-color;
          height: $grid-width;
        }
      }
      &.lines-vertical {
        .line {
          background: $grid-color;
          width: $grid-width;
        }
      }
    }
    .task {
      position: absolute;
      width: 25px;
      height: 25px;
      transform: translate(-50%, -50%);
      border: 1px solid black;
      border-radius: 50%;
      background: purple;
    }
  }
  .urgency {
    text-align: center;
    .scale {
      margin: 10px 0;
      display: flex;
      justify-content: space-evenly;
    }
    .text {
      font-weight: bold;
      font-size: 20px;
    }
  }
}
