.Nav {
  @include space;
  padding: 15px 20px;
  margin-bottom: 20px;
  a {
    padding: 5px 10px;
    box-shadow: 0 0 4px 1px orangered;
    border-radius: 4px;
    margin-right: 15px;
    color: black;
    transition: 0.3s;
    &:hover,
    &.active {
      color: white;
      background: orangered;
      box-shadow: none;
    }
  }
}
