.task-details {
  @include space;
  width: 250px;
  border-radius: 4px;
  box-shadow: 0 0 5px 1px black;
  background-color: white;
  position: relative;
  animation: zoomOut 1s;
  @keyframes zoomOut {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  h2 {
    font-size: 125%;
    margin-bottom: 20px;
  }
  .close {
    cursor: pointer;
    padding: 5px;
    position: absolute;
    top: 0;
    right: 0;
  }
  .name {
    input {
      padding: 4px 8px;
      border-bottom: 2px solid purple;
      transition: 0.3s;
      &:focus {
        box-shadow: 0 0 5px purple;
        border-radius: 20px;
        outline: none;
      }
    }
  }
  .flex {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    .arrows {
      border: 1px solid black;
      border-radius: 4px;
      line-height: 0;
      padding: 4px 8px;
      display: flex;
      align-items: center;
      margin-top: 5px;
      .number {
        color: green;
      }
      .arrow {
        cursor: pointer;
        width: 24px;
        height: 24px;
        background-color: transparent;
        background-size: 100%;
        transition: 0.3s;
        justify-content: space-between;
        &:disabled {
          cursor: not-allowed;
          opacity: 0.3;
        }
      }
      .arrow-up {
        margin: 0 5px;
        background-image: url("../images/arrow-up.png");
        &:active {
          transform: scale(1.1);
        }
      }
      .arrow-down {
        background-image: url("../images/arrow-down.png");
        &:active {
          transform: scale(0.9);
        }
      }
    }
  }
  .description {
    margin-top: 10px;
    textarea {
      width: 100%;
      resize: none;
      padding: 4px 8px;
      border: 1px solid purple;
      transition: 0.3s;
      &:focus {
        box-shadow: 0 0 5px purple;
        border-radius: 8px;
        outline: none;
      }
    }
  }
  .controls {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    button {
      cursor: pointer;
      padding: 4px 8px;
      border: 1px solid black;
      border-radius: 4px;
      color: white;
      text-shadow: 1px 1px black;
      font-size: 12px;
      font-weight: bold;
      text-transform: uppercase;
      &.update {
        &:hover {
          opacity: 1;
        }
        &:disabled {
          cursor: not-allowed;
          opacity: 0.5;
        }
        transition: 0.3s;
        opacity: 0.85;
        background: linear-gradient(darken(purple, 5%), #444);
      }
      &.delete {
        transition: 0.3s;
        opacity: 0.85;
        background: linear-gradient(darken(red, 5%), #444);
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}
