@import "reset";
@import "responsive";

* {
  font-family: "Open Sans", sans-serif;
}

@mixin space {
  padding: 10px 15px;
  box-shadow: 0 0 5px rgba(black, 0.5);
}

body {
}

.App {
  width: 768px;
  margin: 25px auto;
  @include space;
  @include responsive(800px) {
    width: 100%;
  }

  @import "./layouts/Nav";
  @import "./pages/Map";
  @import "./pages/Form";
  @import "./pages/About";
  @import "./UI/Modal";
}
