* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

input {
  width: 100%;
}

* {
  font-family: "Open Sans", sans-serif;
}

.App {
  width: 768px;
  margin: 25px auto;
  padding: 10px 15px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

@media (max-width: 800px) {
  .App {
    width: 100%;
  }
}

.App .Nav {
  padding: 10px 15px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}

.App .Nav a {
  font-size: 20px;
  position: relative;
  margin-right: 10px;
  padding: 5px 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  background: #ffc966;
  color: black;
}

.App .Nav a:before {
  content: "";
  display: block;
  position: absolute;
  bottom: -4px;
  right: 0;
  width: 0;
  height: 4px;
  background: #4d004d;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.App .Nav a:after {
  content: "";
  display: block;
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0;
  height: 4px;
  background: #4d004d;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.App .Nav a:hover:before, .App .Nav a.active:before {
  width: 50%;
}

.App .Nav a:hover:after, .App .Nav a.active:after {
  width: 50%;
}

.App .Map {
  padding: 10px 15px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.App .Map .container {
  padding: 10px 15px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
  padding-top: 100%;
  padding-bottom: 0;
  position: relative;
}

.App .Map .container .lines {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.App .Map .container .lines.lines-horizontal {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.App .Map .container .lines.lines-horizontal .line {
  background: lightgray;
  height: 2px;
}

.App .Map .container .lines.lines-vertical .line {
  background: lightgray;
  width: 2px;
}

.App .Map .container .task {
  cursor: pointer;
  position: absolute;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  width: 50px;
  height: 50px;
  border: 1px solid black;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background: purple;
}

@media (max-width: 840px) {
  .App .Map .container .task {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 640px) {
  .App .Map .container .task {
    width: 32px;
    height: 32px;
  }
}

@media (max-width: 480px) {
  .App .Map .container .task {
    width: 24px;
    height: 24px;
  }
}

.App .Map .container .task.active, .App .Map .container .task:hover {
  background: orange;
  border-radius: 50%;
}

.App .Map .urgency {
  text-align: center;
}

.App .Map .urgency .scale {
  margin: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.App .Map .urgency .text {
  font-weight: bold;
  font-size: 20px;
}

.App .Form {
  font-size: 20px;
  width: 400px;
  margin: 25px auto;
  padding: 10px 15px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.App .Form input[type="text"] {
  margin: 5px 0 10px;
  padding: 5px 10px;
  -webkit-box-shadow: 0 0 2px purple;
          box-shadow: 0 0 2px purple;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.App .Form input[type="text"]:focus {
  outline: none;
  -webkit-box-shadow: 0 0 5px #4d004d;
          box-shadow: 0 0 5px #4d004d;
}

.App .Form .flex {
  margin: 5px 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.App .Form .flex .number {
  border: 1px solid #333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: purple;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  color: white;
  margin: 0 5px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-weight: bold;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.App .Form .flex .number:disabled {
  background: grey;
}

.App .Form .flex input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.App .Form button[type="submit"] {
  cursor: pointer;
  padding: 8px 20px;
  border: 1px solid black;
  border-radius: 4px;
  background: purple;
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.App .Form button[type="submit"]:hover {
  background: #670067;
}

.App .Form button[type="submit"]:disabled {
  cursor: auto;
  background: grey;
}
