@import "reset";
@import "responsive";

* {
  font-family: "Open Sans", sans-serif;
}

@mixin space {
  padding: 10px 15px;
  box-shadow: 0 0 5px rgba(black, 0.5);
}

body {
}

.App {
  width: 640px;
  margin: 25px auto;
  @include space;

  @import "./components/Map";
  @import "./components/Form";
}
