* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

input {
  width: 100%;
}

* {
  font-family: "Open Sans", sans-serif;
}

.App {
  width: 640px;
  margin: 25px auto;
  padding: 10px 15px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.App .Form {
  font-size: 20px;
  width: 400px;
  margin: 25px auto;
  padding: 10px 15px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.App .Form input[type="text"] {
  margin: 5px 0 10px;
  padding: 5px 10px;
  -webkit-box-shadow: 0 0 2px purple;
          box-shadow: 0 0 2px purple;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.App .Form input[type="text"]:focus {
  outline: none;
  -webkit-box-shadow: 0 0 5px #4d004d;
          box-shadow: 0 0 5px #4d004d;
}

.App .Form .flex {
  margin: 5px 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.App .Form .flex .number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: purple;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  color: white;
  margin: 0 5px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-weight: bold;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.App .Form .flex .number:disabled {
  background: grey;
}

.App .Form .flex input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.App .Form button {
  cursor: pointer;
  padding: 8px 20px;
  border: 1px solid black;
  border-radius: 4px;
  background: purple;
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.App .Form button:hover {
  background: #670067;
}

.App .Form button:disabled {
  cursor: auto;
  background: grey;
}
